<div class="container">
  <% if current_user %>
      <a href="/users/logout">Logout</a>
  <% else %>
      <a href="/create">Create Account</a>
  <% end %>

   <% if !current_user %>
        <%=  erb :login_form  %>
   <% end  %>
</div>


